# Next.js Host (admin-portal)
NEXT_PUBLIC_BASE_PATH=/admin-portal

# Remote remoteEntry URL
NEXT_PUBLIC_MARKETING_REMOTE_ENTRY=https://dmsej108.github.io/admin-marketing/_next/static/chunks/remoteEntry.js
NEXT_PUBLIC_MARKETING_STYLES_PATH=/admin-marketing/styles/admin.css

# 추가 Remote (활성화 시)
# NEXT_PUBLIC_PERSONAL_REMOTE_ENTRY=https://dmsej108.github.io/admin-personal/_next/static/chunks/remoteEntry.js
